$blue: #0C1E3C;
$blue-light: #1A3157;
$blue-dark: #041024;

$red:#C62C28;
$red-light:#E04743;
$red-dark:#AD1511;

$white: #EEEEEE;
$white-light: #FFFFFF;
$white-dark: #D4BEBE;

$grey: #C0C0C0;
$grey-light: #D9D9D9;
$grey-dark: #A69595;